{{ ansible_managed | comment }}

{% for key, value in autofs_maps.items() %}
{{ value.path }} /etc/auto.{{ key | lower }}{% if ansible_distribution != "Rocky" %} {{ value.options }}{% endif %}
{% endfor %}
